.sideMenus .nav-item * {
    color: black !important;
    text-decoration: none;
}

.sideMenus .nav-item div a *:hover {
    background-color: gray !important;
    color: white !important;
    fill: white;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        margin-right: 45px;
        flex-grow: 0;
    }
}