:root {
    --bg-primary: #FCFCFC;
    --text-primary: #140505;
    --info-primary: #447FFF;
    --success-primary: #41E080;
    --warning-primary: #FFE628;
    --danger-primary: #FF6B60;
}

html{
    overflow-x: hidden;
}

a {
    color: black;
}

* {
    font-family: 'Roboto', sans-serif;
}

.mainContainer{
    padding: 0;
    margin: 0;
}

.nav-item{
    padding-left: 10px;
    color:white;
}

.primary-color{
    color: #FCFCFC
}

/* 
   Primary: #FCFCFC
   Success: #41E080
   Info:    #447FFF
   Warning: #FFE628
   Danger:  #FF6B60
 */

 .sideMenus .nav-item *{
    /* color: var(--text-primary); */
    text-decoration: none;
}

.nav-item a *:hover {
    background-color: var(--text-primary)!important;
    color: white !important;
}

.backImg{
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url(./assets/login2.png);   
}

/* BUTTONS GLOBVAL STYLES */

.btnStandardSize{
    width: 150px;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        margin-right: 45px;
        flex-grow: 0;
    }
}